@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: 'Maven Pro', sans-serif, 'allright', sans-serif;
	src: local('allright'), url(../Fonts/allright.ttf) format('truetype');
	background-color: #fff;
	scroll-behavior: smooth;
	overflow-x: hidden;
	width: 100vw;
}
code {
	font-family: 'Maven Pro', sans-serif;
}
a{
	text-decoration: none;
}
button:hover{
	transform: scale(1.05);
	transition: all ease-in-out 0.5s;
}
button{
	transform: scale(1);
	transition: all ease-in-out 0.5s;
}
button:focus-visible{
	outline: none;
}
.BgWine{
	background: linear-gradient(147.77deg, #252525 -55.57%, rgba(112, 18, 16, 0.46) 176.18%);
}
.serviceList::before {
	content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
	color: #42462B; /* Change the color */
	font-weight: bold; /* If you want it to be bold */
	display: inline-block; /* Needed to add space between the bullet and the text */
	width: 1em; /* Also needed for space (tweak if needed) */
	margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.footerList::before {
	content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
	color: #fff; /* Change the color */
	font-weight: bold; /* If you want it to be bold */
	display: inline-block; /* Needed to add space between the bullet and the text */
	width: 1em; /* Also needed for space (tweak if needed) */
	margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.ScrollActive{
	background: linear-gradient(144.12deg, #42462B -5.5%, #f4f4f400 231.08%, #f4f4f400 231.08%);
	transition: all ease 5s;
}
.ScrollActiveWine{
	background: linear-gradient(147.77deg, #252525 -55.57%, rgba(112, 18, 16, 0.46) 176.18%);
	transition: all ease 5s;
}
.MenuActive{
	background: linear-gradient(144.12deg, #42462B -5.5%, #f4f4f400 231.08%, #f4f4f400 231.08%);
	display: flex;
	transition: all ease 0.75s;
}
/* Change logo color */
.pageMenuActive{
	overflow: hidden;
	transition: all ease 0.75s;
}
/* Profile image */
.NegativeMarginTop{
	margin-top: -5rem;
	transition: all ease 0.75s;
}
/* Feedback arrow's component */
.NegativeMarginLeft{
	margin-left: -1rem;
	z-index: 2;
	transition: all ease 0.75s;
}
.NegativeMarginRight{
	margin-right: -1rem;
	z-index: 2;
	transition: all ease 0.75s;
}
/* Service Cards */
.cardComment{
	min-width: 70%;
	max-width: 70.5%;
	transition: all ease 0.75s;
}
.BgServiceCard{
	background: linear-gradient(147.77deg, #252525 -55.57%, rgba(112, 18, 16, 0.46) 176.18%);
	border-radius: 0px 0px 10px 10px;
}
.serviceCardActive{
	background-color: #8C9176;
	transition: all ease 0.75s;
}
.serviceCardActiveP{
	display: flex !important;
	transition: all ease 5.0s;
	animation-duration: 0.75s;
	animation-name: slidein;
}
.CommentCards{
	display: none;
	transition: all ease 5.0s;
}
@keyframes slidein {
	from {
	  margin-left: 10%;
	}
  
	to {
	  margin-left: 0%;
	}
  }
  /* Footer */
.bgFooter{
	background: linear-gradient(118.08deg, #42462B 0%, rgba(66, 70, 43, 0.5) 100%);
}
.inputRounded{
	border-radius: 6px 0px 0px 6px;
}
.SendButtonRounded{
	border-radius: 0px 6px 6px 0px;
}